In [1]:
import json
import pandas as pd
from datetime import datetime as dt
from datetime import datetime, timedelta
import time
import csv
import statsmodels.api as sm
import os
import numpy as np
import math
import requests

In [7]:
df=pd.read_csv('Raw Data/pratham opening.csv')
df['side']='open'
df

,pair,price,time,trader,position_side,fee,volume,token_amount,price_into_token_amount,side
0,wETH,1338.700,2023-01-10 20:37:19.000 UTC,0x8d6d43e62c30df4b3b270978316ea8c8a8daffad,SHORT,6.469667,5711.638139,0.294563,394.332090,open
1,wBTC,22683.000,2023-01-23 15:05:37.000 UTC,0x402030430bd2aea98edb036736db146c529aede0,SHORT,238.095238,238095.238006,0.220429,5000.000000,open
2,wBTC,21302.320,2022-07-26 00:03:47.000 UTC,0x35a9ebf9d86cfead962494eddab25ac8b640e9c9,LONG,122.716933,21789.725080,0.233495,4973.995220,open
3,wETH,1534.770,2023-03-09 00:38:38.000 UTC,0x71889f7c734342741708e9f1e0d86874c91eacaf,LONG,14.909535,14909.535067,0.648826,995.799348,open
4,wBTC,27246.659,2023-06-20 16:43:03.000 UTC,0x9031b0853bec292701053cea627b2ff4f22249bb,LONG,14.238571,14238.571265,0.010974,298.995572,open
...,...,...,...,...,...,...,...,...,...,...
18959,wETH,1578.200,2023-02-25 20:25:12.000 UTC,0xe786ec5da1c8b391f896d78791091554bc0464f2,LONG,47.452381,47452.380952,0.631415,996.499602,open
18960,wBTC,27188.400,2023-06-20 16:18:35.000 UTC,0x35a9ebf9d86cfead962494eddab25ac8b640e9c9,SHORT,48.526211,48526.210757,0.054884,1492.221739,open
18961,wETH,2968.235,2022-04-22 14:26:44.000 UTC,0xa9a37b387b0017fbcb4b0c99078445f070703024,LONG,10.966340,10098.147047,0.250000,742.058750,open
18962,wETH,1847.233,2023-05-09 16:55:30.000 UTC,0x4e839f41077cf5aece743e9cca9b26ffe450d712,LONG,15.481982,15481.981918,0.900000,1662.509700,open
18963,wETH,1555.550,2023-01-19 20:21:50.000 UTC,0x2b6dd022f22da3ac07e8e270119a689a23e77f47,SHORT,39.023434,39023.433670,1.285719,2000.000000,open

In [8]:
df2=pd.read_csv('Raw Data/pratham closing.csv')
df2['side']='close'
df2.rename(columns = {'virtual_asset':'pair'}, inplace = True)

df2

,pair,price,time,trader,volume,fee,pnl,pnl_percent,position_side,liquidation,return,pnltocollateral,token_amount,price_into_token_amount,side
0,wETH,1333.300,2022-09-29 17:50:32.000 UTC,0x289a43b5c3cb41dbdef69d0b301915df56af3623,1.343000e+04,14.074640,248.630274,1.851305,LONG,No,0.218728,0.075,2.190287,2920.310029,close
1,wETH,1613.220,2023-01-29 01:22:27.000 UTC,0x289a43b5c3cb41dbdef69d0b301915df56af3623,3.812549e+04,38.125490,865.306194,2.269626,LONG,No,0.761238,0.075,2.897334,4674.036455,close
2,wETH,1646.990,2023-03-02 05:38:32.000 UTC,0x289a43b5c3cb41dbdef69d0b301915df56af3623,3.100001e+04,32.147008,192.458964,0.620835,SHORT,No,0.169312,0.075,0.719424,1184.883880,close
3,wETH,1089.900,2022-06-17 20:40:09.000 UTC,0xa9a37b387b0017fbcb4b0c99078445f070703024,3.005672e+04,30.056718,175.465654,0.583782,SHORT,No,0.092935,0.041,1.353658,1475.352217,close
4,wETH,1269.530,2022-11-12 10:17:34.000 UTC,0xa9a37b387b0017fbcb4b0c99078445f070703024,7.487485e+04,81.014588,-1252.061732,-1.672206,SHORT,No,-0.663153,0.041,1.830118,2323.389623,close
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9917,wBTC,30183.908,2023-04-11 13:55:35.000 UTC,0x7b076ddcb2abe2c9c167b7f4f57e18b5f5eb1c95,4.318619e+04,51.780242,-147.078592,-0.340569,SHORT,No,-0.412810,0.097,0.124933,3770.954976,close
9918,wBTC,17486.380,2023-01-10 20:21:21.000 UTC,0x10ee2ce2d6f0544ffa8222ca13878896e8124bad,2.862495e+05,326.324381,-4375.138125,-1.528435,SHORT,No,-11.383663,0.408,0.137138,2398.048264,close
9919,wETH,1871.830,2023-05-03 17:57:53.000 UTC,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,5.965176e+06,5965.175890,47898.179997,0.802963,SHORT,No,1.370841,0.265,114.555231,214427.918101,close
9920,wETH,1909.701,2023-05-03 22:17:24.000 UTC,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,1.479214e+07,15798.008144,100812.234636,0.681526,LONG,No,2.885236,0.265,201.647571,385086.568035,close
9921,wBTC,27127.821,2023-03-27 16:44:29.000 UTC,0x1b36b3f9f16598f3e686e3ceb7655b445b9e8fa6,1.220281e+05,131.058128,-4540.740457,-3.721063,LONG,No,-23.607038,0.250,0.450146,12211.478484,close

In [9]:
df3=df2.drop(['pnl', 'pnl_percent', 'return', 'liquidation', 'pnltocollateral'], axis=1)

df3['position_side'] = df2['position_side'].replace({'LONG': 'SHORT', 'SHORT': 'LONG'})
df3

,pair,price,time,trader,volume,fee,position_side,token_amount,price_into_token_amount,side
0,wETH,1333.300,2022-09-29 17:50:32.000 UTC,0x289a43b5c3cb41dbdef69d0b301915df56af3623,1.343000e+04,14.074640,SHORT,2.190287,2920.310029,close
1,wETH,1613.220,2023-01-29 01:22:27.000 UTC,0x289a43b5c3cb41dbdef69d0b301915df56af3623,3.812549e+04,38.125490,SHORT,2.897334,4674.036455,close
2,wETH,1646.990,2023-03-02 05:38:32.000 UTC,0x289a43b5c3cb41dbdef69d0b301915df56af3623,3.100001e+04,32.147008,LONG,0.719424,1184.883880,close
3,wETH,1089.900,2022-06-17 20:40:09.000 UTC,0xa9a37b387b0017fbcb4b0c99078445f070703024,3.005672e+04,30.056718,LONG,1.353658,1475.352217,close
4,wETH,1269.530,2022-11-12 10:17:34.000 UTC,0xa9a37b387b0017fbcb4b0c99078445f070703024,7.487485e+04,81.014588,LONG,1.830118,2323.389623,close
...,...,...,...,...,...,...,...,...,...,...
9917,wBTC,30183.908,2023-04-11 13:55:35.000 UTC,0x7b076ddcb2abe2c9c167b7f4f57e18b5f5eb1c95,4.318619e+04,51.780242,LONG,0.124933,3770.954976,close
9918,wBTC,17486.380,2023-01-10 20:21:21.000 UTC,0x10ee2ce2d6f0544ffa8222ca13878896e8124bad,2.862495e+05,326.324381,LONG,0.137138,2398.048264,close
9919,wETH,1871.830,2023-05-03 17:57:53.000 UTC,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,5.965176e+06,5965.175890,LONG,114.555231,214427.918101,close
9920,wETH,1909.701,2023-05-03 22:17:24.000 UTC,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,1.479214e+07,15798.008144,SHORT,201.647571,385086.568035,close
9921,wBTC,27127.821,2023-03-27 16:44:29.000 UTC,0x1b36b3f9f16598f3e686e3ceb7655b445b9e8fa6,1.220281e+05,131.058128,SHORT,0.450146,12211.478484,close

In [10]:
tr=pd.concat([df, df3])

tr.reset_index(drop=True, inplace=True)
tr

,pair,price,time,trader,position_side,fee,volume,token_amount,price_into_token_amount,side
0,wETH,1338.700,2023-01-10 20:37:19.000 UTC,0x8d6d43e62c30df4b3b270978316ea8c8a8daffad,SHORT,6.469667,5.711638e+03,0.294563,394.332090,open
1,wBTC,22683.000,2023-01-23 15:05:37.000 UTC,0x402030430bd2aea98edb036736db146c529aede0,SHORT,238.095238,2.380952e+05,0.220429,5000.000000,open
2,wBTC,21302.320,2022-07-26 00:03:47.000 UTC,0x35a9ebf9d86cfead962494eddab25ac8b640e9c9,LONG,122.716933,2.178973e+04,0.233495,4973.995220,open
3,wETH,1534.770,2023-03-09 00:38:38.000 UTC,0x71889f7c734342741708e9f1e0d86874c91eacaf,LONG,14.909535,1.490954e+04,0.648826,995.799348,open
4,wBTC,27246.659,2023-06-20 16:43:03.000 UTC,0x9031b0853bec292701053cea627b2ff4f22249bb,LONG,14.238571,1.423857e+04,0.010974,298.995572,open
...,...,...,...,...,...,...,...,...,...,...
28881,wBTC,30183.908,2023-04-11 13:55:35.000 UTC,0x7b076ddcb2abe2c9c167b7f4f57e18b5f5eb1c95,LONG,51.780242,4.318619e+04,0.124933,3770.954976,close
28882,wBTC,17486.380,2023-01-10 20:21:21.000 UTC,0x10ee2ce2d6f0544ffa8222ca13878896e8124bad,LONG,326.324381,2.862495e+05,0.137138,2398.048264,close
28883,wETH,1871.830,2023-05-03 17:57:53.000 UTC,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,LONG,5965.175890,5.965176e+06,114.555231,214427.918101,close
28884,wETH,1909.701,2023-05-03 22:17:24.000 UTC,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,SHORT,15798.008144,1.479214e+07,201.647571,385086.568035,close
28885,wBTC,27127.821,2023-03-27 16:44:29.000 UTC,0x1b36b3f9f16598f3e686e3ceb7655b445b9e8fa6,SHORT,131.058128,1.220281e+05,0.450146,12211.478484,close

In [11]:
tr['time'] = pd.to_datetime(tr['time'])
# tr.dtypes
tr['ts'] = tr.time.astype('int64') // 10**9
tr

,pair,price,time,trader,position_side,fee,volume,token_amount,price_into_token_amount,side,ts
0,wETH,1338.700,2023-01-10 20:37:19+00:00,0x8d6d43e62c30df4b3b270978316ea8c8a8daffad,SHORT,6.469667,5.711638e+03,0.294563,394.332090,open,1673383039
1,wBTC,22683.000,2023-01-23 15:05:37+00:00,0x402030430bd2aea98edb036736db146c529aede0,SHORT,238.095238,2.380952e+05,0.220429,5000.000000,open,1674486337
2,wBTC,21302.320,2022-07-26 00:03:47+00:00,0x35a9ebf9d86cfead962494eddab25ac8b640e9c9,LONG,122.716933,2.178973e+04,0.233495,4973.995220,open,1658793827
3,wETH,1534.770,2023-03-09 00:38:38+00:00,0x71889f7c734342741708e9f1e0d86874c91eacaf,LONG,14.909535,1.490954e+04,0.648826,995.799348,open,1678322318
4,wBTC,27246.659,2023-06-20 16:43:03+00:00,0x9031b0853bec292701053cea627b2ff4f22249bb,LONG,14.238571,1.423857e+04,0.010974,298.995572,open,1687279383
...,...,...,...,...,...,...,...,...,...,...,...
28881,wBTC,30183.908,2023-04-11 13:55:35+00:00,0x7b076ddcb2abe2c9c167b7f4f57e18b5f5eb1c95,LONG,51.780242,4.318619e+04,0.124933,3770.954976,close,1681221335
28882,wBTC,17486.380,2023-01-10 20:21:21+00:00,0x10ee2ce2d6f0544ffa8222ca13878896e8124bad,LONG,326.324381,2.862495e+05,0.137138,2398.048264,close,1673382081
28883,wETH,1871.830,2023-05-03 17:57:53+00:00,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,LONG,5965.175890,5.965176e+06,114.555231,214427.918101,close,1683136673
28884,wETH,1909.701,2023-05-03 22:17:24+00:00,0x1c3ce81f49e2d4203bd7fa5f9c080159d566d28d,SHORT,15798.008144,1.479214e+07,201.647571,385086.568035,close,1683152244
28885,wBTC,27127.821,2023-03-27 16:44:29+00:00,0x1b36b3f9f16598f3e686e3ceb7655b445b9e8fa6,SHORT,131.058128,1.220281e+05,0.450146,12211.478484,close,1679935469

In [12]:
tr=tr.sort_values(by='time')
tr.reset_index(drop=True, inplace=True)

tr

,pair,price,time,trader,position_side,fee,volume,token_amount,price_into_token_amount,side,ts
0,wETH,3775.12000,2021-09-01 21:44:58+00:00,0xff03b9cc5449f8d9ac70df9f88870b9a87a4aeb4,LONG,0.114256,114.256339,0.006000,22.650720,open,1630532698
1,wETH,3300.49000,2021-09-11 12:03:42+00:00,0x32ae17db5157cc331993376fb3ef977d28f2f158,LONG,0.065694,65.693575,0.010000,33.004900,open,1631361822
2,wETH,3286.75517,2021-09-12 02:29:02+00:00,0x076edc63cd403a0b7986f0647b7d95a0b389cb92,LONG,1.506707,1506.706587,0.230000,755.953689,open,1631413742
3,wETH,3336.99000,2021-09-12 06:14:08+00:00,0xd2776d0d1c161244667d6c58d527b927c5519c5c,LONG,0.667398,667.398000,0.100658,335.895396,open,1631427248
4,wETH,3336.99000,2021-09-12 06:15:07+00:00,0xd2776d0d1c161244667d6c58d527b927c5519c5c,LONG,1.996008,1996.007984,0.299641,999.899130,open,1631427307
...,...,...,...,...,...,...,...,...,...,...,...
28881,wETH,1848.44000,2023-07-25 00:57:17+00:00,0x5fc79d77b8c3e207cd62f7ab424a6ef5a03488ac,LONG,252.021901,252021.901430,13.503305,24960.049897,open,1690246637
28882,UNI,5.80700,2023-07-25 02:38:23+00:00,0xe0c2e7b4267b1656add89520105faf63e66d4c05,SHORT,35.006817,32244.911964,172.205958,1000.000000,open,1690252703
28883,UNI,5.76900,2023-07-25 03:50:17+00:00,0xe0c2e7b4267b1656add89520105faf63e66d4c05,LONG,80.263279,79863.959583,360.740211,2081.110280,close,1690257017
28884,LINK,7.51700,2023-07-25 06:41:11+00:00,0x03b974abcc144061eef8ed8202caed448a4abe1a,LONG,96.334661,79681.274900,2764.009478,20777.059249,close,1690267271
28885,LINK,7.40500,2023-07-25 07:45:49+00:00,0x96c99a13933cbe1751f21851a92548c1630e06c0,LONG,21.957928,21957.927762,62.271636,461.121465,open,1690271149

In [13]:
tr.to_csv('final_trades.csv')

In [12]:
tr['year'] = tr['time'].dt.year  
tr

,pair,price,time,trader,position_side,fee,volume,token_amount,price_into_token_amount,side,virtual_asset,ts,year
8433,wETH,3775.12000,2021-09-01 21:44:58+00:00,0xff03b9cc5449f8d9ac70df9f88870b9a87a4aeb4,LONG,0.114256,114.256339,0.006000,22.650720,open,NaN,1630532698,2021
7739,wETH,3300.49000,2021-09-11 12:03:42+00:00,0x32ae17db5157cc331993376fb3ef977d28f2f158,LONG,0.065694,65.693575,0.010000,33.004900,open,NaN,1631361822,2021
5544,wETH,3286.75517,2021-09-12 02:29:02+00:00,0x076edc63cd403a0b7986f0647b7d95a0b389cb92,LONG,1.506707,1506.706587,0.230000,755.953689,open,NaN,1631413742,2021
4379,wETH,3336.99000,2021-09-12 06:14:08+00:00,0xd2776d0d1c161244667d6c58d527b927c5519c5c,LONG,0.667398,667.398000,0.100658,335.895396,open,NaN,1631427248,2021
14862,wETH,3336.99000,2021-09-12 06:15:07+00:00,0xd2776d0d1c161244667d6c58d527b927c5519c5c,LONG,1.996008,1996.007984,0.299641,999.899130,open,NaN,1631427307,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3722,wETH,1848.44000,2023-07-25 00:57:17+00:00,0x5fc79d77b8c3e207cd62f7ab424a6ef5a03488ac,LONG,252.021901,252021.901430,13.503305,24960.049897,open,NaN,1690246637,2023
1075,UNI,5.80700,2023-07-25 02:38:23+00:00,0xe0c2e7b4267b1656add89520105faf63e66d4c05,SHORT,35.006817,32244.911964,172.205958,1000.000000,open,NaN,1690252703,2023
21340,NaN,5.76900,2023-07-25 03:50:17+00:00,0xe0c2e7b4267b1656add89520105faf63e66d4c05,LONG,80.263279,79863.959583,360.740211,2081.110280,close,UNI,1690257017,2023
19585,NaN,7.51700,2023-07-25 06:41:11+00:00,0x03b974abcc144061eef8ed8202caed448a4abe1a,LONG,96.334661,79681.274900,2764.009478,20777.059249,close,LINK,1690267271,2023
6568,LINK,7.40500,2023-07-25 07:45:49+00:00,0x96c99a13933cbe1751f21851a92548c1630e06c0,LONG,21.957928,21957.927762,62.271636,461.121465,open,NaN,1690271149,2023

In [9]:
new = tr[(tr['time'].dt.year < 2023) | (tr['time'].dt.month < 7)]
new.reset_index(drop=True, inplace=True)

new

,pair,time,trader,volume,fee,position_side,side,ts,year
0,wETH,2021-09-01 21:44:58+00:00,0xff03b9cc5449f8d9ac70df9f88870b9a87a4aeb4,113.902144,0.113902,LONG,open,1630532698,2021
1,wETH,2021-09-10 21:38:09+00:00,0xff03b9cc5449f8d9ac70df9f88870b9a87a4aeb4,113.902144,1.078198,SHORT,close,1631309889,2021
2,wETH,2021-09-11 12:03:42+00:00,0x32ae17db5157cc331993376fb3ef977d28f2f158,65.489925,0.065490,LONG,open,1631361822,2021
3,wETH,2021-09-12 02:29:02+00:00,0x076edc63cd403a0b7986f0647b7d95a0b389cb92,1502.035796,1.502036,LONG,open,1631413742,2021
4,wETH,2021-09-12 06:14:08+00:00,0xd2776d0d1c161244667d6c58d527b927c5519c5c,665.329066,0.665329,LONG,open,1631427248,2021
...,...,...,...,...,...,...,...,...,...
31421,wETH,2023-06-30 22:08:12+00:00,0xe013bf246648e8bba68c932c716f99332fcbbff8,323816.563986,323.816564,LONG,open,1688162892,2023
31422,wETH,2023-06-30 22:08:22+00:00,0x1df578bb65ce9f5f4c89cea5c19bbb840f2274e6,226082.076159,300.708881,SHORT,close,1688162902,2023
31423,wETH,2023-06-30 22:12:12+00:00,0xc3efac8177377dd2517000e9a5afa0ef4c67b200,109582.110668,109.582111,LONG,open,1688163132,2023
31424,wBTC,2023-06-30 22:12:57+00:00,0xc3efac8177377dd2517000e9a5afa0ef4c67b200,81329.547767,81.329548,LONG,open,1688163177,2023
31425,LINK,2023-06-30 23:40:24+00:00,0xe0c2e7b4267b1656add89520105faf63e66d4c05,4984.500000,6.479850,SHORT,close,1688168424,2023

In [10]:
sym=new['pair'].unique()
year=new['year'].unique()
mp={}
conv={'wETH': 'ETHUSDT', 'LINK': 'LINKUSDT', 'wBTC': 'BTCUSDT', 'UNI': 'UNIUSDT'}
for i in sym:
    for j in year:
        a=i+str(j)
        inp='Raw Data/'+conv[i]+'/'+str(j)+'.csv'
        print(inp)
        temp=pd.read_csv(inp)
        temp=temp.drop('Unnamed: 0', axis=1)
#         print(temp)
        mp[a]=temp

Raw Data/ETHUSDT/2021.csv
Raw Data/ETHUSDT/2022.csv
Raw Data/ETHUSDT/2023.csv
Raw Data/LINKUSDT/2021.csv
Raw Data/LINKUSDT/2022.csv
Raw Data/LINKUSDT/2023.csv
Raw Data/BTCUSDT/2021.csv
Raw Data/BTCUSDT/2022.csv
Raw Data/BTCUSDT/2023.csv
Raw Data/UNIUSDT/2021.csv
Raw Data/UNIUSDT/2022.csv
Raw Data/UNIUSDT/2023.csv

In [11]:
cnt=0
prices=[]
for i in new.index:
    sym=new['pair'][i]
    year=new['year'][i]
    data=mp[sym+str(year)]
    req=data[(abs(data['open time']/1000 - new['ts'][i]) < 30)]
    req.reset_index(drop=True, inplace=True)
    if len(req)>0:
        price=req['c'][0]+req['o'][0]
        price/=2
        price=round(price, 2)
    else:
        price=-1
    cnt+=1
    print(cnt, end='\r')
    prices.append(price)

In [12]:
new['price']=prices
new

/tmp/ipykernel_16488/3467254376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['price']=prices

,pair,time,trader,volume,fee,position_side,side,ts,year,price
0,wETH,2021-09-01 21:44:58+00:00,0xff03b9cc5449f8d9ac70df9f88870b9a87a4aeb4,113.902144,0.113902,LONG,open,1630532698,2021,3752.71
1,wETH,2021-09-10 21:38:09+00:00,0xff03b9cc5449f8d9ac70df9f88870b9a87a4aeb4,113.902144,1.078198,SHORT,close,1631309889,2021,3216.23
2,wETH,2021-09-11 12:03:42+00:00,0x32ae17db5157cc331993376fb3ef977d28f2f158,65.489925,0.065490,LONG,open,1631361822,2021,3300.40
3,wETH,2021-09-12 02:29:02+00:00,0x076edc63cd403a0b7986f0647b7d95a0b389cb92,1502.035796,1.502036,LONG,open,1631413742,2021,3281.75
4,wETH,2021-09-12 06:14:08+00:00,0xd2776d0d1c161244667d6c58d527b927c5519c5c,665.329066,0.665329,LONG,open,1631427248,2021,3321.09
...,...,...,...,...,...,...,...,...,...,...
31421,wETH,2023-06-30 22:08:12+00:00,0xe013bf246648e8bba68c932c716f99332fcbbff8,323816.563986,323.816564,LONG,open,1688162892,2023,1935.25
31422,wETH,2023-06-30 22:08:22+00:00,0x1df578bb65ce9f5f4c89cea5c19bbb840f2274e6,226082.076159,300.708881,SHORT,close,1688162902,2023,1935.25
31423,wETH,2023-06-30 22:12:12+00:00,0xc3efac8177377dd2517000e9a5afa0ef4c67b200,109582.110668,109.582111,LONG,open,1688163132,2023,1934.76
31424,wBTC,2023-06-30 22:12:57+00:00,0xc3efac8177377dd2517000e9a5afa0ef4c67b200,81329.547767,81.329548,LONG,open,1688163177,2023,30507.32
31425,LINK,2023-06-30 23:40:24+00:00,0xe0c2e7b4267b1656add89520105faf63e66d4c05,4984.500000,6.479850,SHORT,close,1688168424,2023,6.30

In [13]:
import requests

def get_binance_price(symbol, timestamp):
    base_url = 'https://api.binance.com/api/v3/klines'
    interval = '1s'  # 1-minute interval
    limit = 1       # Only retrieve 1 data point

    # Convert timestamp to milliseconds
    timestamp_ms = timestamp * 1000

    # Construct the API endpoint URL
    url = f'{base_url}?symbol={symbol}&interval={interval}&limit={limit}&startTime={timestamp_ms}'

    try:
        response = requests.get(url)
        data = response.json()
#         Extract the closing price from the response
        price = float(data[0][4])  # Closing price is at index 4

        return price
    except requests.exceptions.RequestException as e:
        print('Error occurred:', e)

In [14]:

# Example usage: Get ETHUSDT price at a specific timestamp
for i in new.index:
    if new['price'][i]==-1:
        symbol = conv[new['pair'][i]]
        timestamp = new['ts'][i]  # Replace with your desired timestamp

        price = get_binance_price(symbol, timestamp)
        print(price)
        new['price'][i]=price

3534.53

/tmp/ipykernel_16488/2444950020.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['price'][i]=price

3125.3
2928.33
26.3
26.07
24.85
27.16
61957.43
68439.76
4198.11
21.82
4403.99
4100.96
3081.94
3047.5
2930.86
3025.09
38724.09
39549.37
2450.13
2025.0
2016.69
1858.85
1734.98
30192.78
1805.95
1788.2
1260.11
24687.79
1182.54
1058.75
1043.41
1213.42
1093.18
1079.13
1078.83
1090.09
971.75
1136.75
1147.51
19556.59
1219.6
1222.39
20416.87
19710.89
20317.11
1346.71
1482.66
1482.66
1565.1
1364.7
1778.15
9.28
1575.58
1580.52
23366.48
23367.83
1690.72
1737.95
1750.73
22953.95
1681.5
1711.45
1871.64
1850.87
1870.41
1919.17
1888.91
1906.39
1885.49
1853.49
1817.18
1619.4
21497.34
1525.49
1580.52
19893.01
1570.01
1616.54
18792.4
1630.03
1641.87
21702.31
20163.35
1602.51
1586.24
1586.74
1649.88
1610.97
1578.72
1599.34
1622.39
1641.93
1634.78
1489.27
1452.08
1289.77
1327.76
1340.69
1342.45
1341.37
1241.0
1280.8
1284.12
18870.2
1394.59
20324.08
1384.03
1364.6
1330.72
19132.12
19022.92
1302.34
1354.56
19061.64
1336.47
1337.93
19692.11
1325.28
20256.35
19910.4
19113.93
1289.29
1330.2
19354.34
1328.0
1293.28
1316.27
1335.21
1554.78
1594.68
1562.18
20747.78
1587.51
1632.82
1665.47
1608.37
1554.0
1482.04
1445.05
1556.59
1349.68
18019.74
1314.01
18332.78
1189.43
1205.33
1178.21
16721.01
1085.54
1338.33
7.138
1338.42
1314.41
1270.1
1276.82
16859.09
1280.96
1252.47
1233.71
1260.97
1242.25
1222.11
1214.41
16711.97
1203.06
1221.34
1171.75
1146.0
15969.96
1117.13
1113.8
1166.15
1181.77
1217.38
1272.12
1270.47
1284.59
1295.9
1266.86
1281.5
1234.07
1284.44
1320.22
1344.14
1215.55
1190.72
1181.55
1169.22
1206.24
1214.43
16782.29
16656.57
1222.27
1221.15
1210.12
16629.81
16638.73
1185.35
1191.01
16610.09
1214.68
1220.0
1261.73
5.82
1320.01
1325.36
1401.43
1389.66
1428.01
1413.7
1422.68
19339.71
1547.54
1546.98
1558.78
1559.36
1563.87
21023.47
1577.91
1585.35
21341.64
6.369
6.487
21864.29
1639.48
23015.45
1659.79
1639.63
1622.48
1618.12
6.579
1583.01
1608.02
23041.91
1599.81
22692.66
1602.67
23248.14
23145.44
1576.26
23124.42
1597.92
23810.98
7.054
23075.72
22867.97
23177.6
23145.53
1568.73
1611.64
1626.13
1621.13
24119.3
1673.86
1674.63
1654.06
1688.82
1668.83
1632.17
1654.68
23203.03
23405.06
1684.37
22786.58
1578.92
21852.41
1538.73
1517.22
1524.82
1500.27
1506.04
21838.2
1692.32
1696.78
1648.12
1667.8
24209.06
1668.16
1673.77
1719.75
1692.9
1696.52
1713.51
1716.14
1686.88
1679.06
24403.05
1612.54
24059.24
1647.99
1620.63
23123.4
23178.79
1570.52
1633.04
23647.92
23548.63
1600.44
1628.4
1555.32
22345.46
22333.68
1570.23
1562.8
1561.99
1566.74
22106.83
1550.7
21719.19
21738.36
1536.07
1424.39
1433.53
19972.8
1431.04
1431.22
1457.77
5.317
1463.49
1537.13
1576.25
22313.51
1589.99
22234.8
1582.49
23096.53
6.827
1689.0
1667.82
24417.71
24785.91
1703.05
1753.13
1753.13
1686.28
1668.64
1680.64
1672.98
1662.48
1694.67
1698.85
1755.55
1743.91
1751.55
27503.78
27479.22
1823.31
27450.78
1806.88
1798.06
1813.24
28110.62
1813.11
1782.6
1782.6
1782.6
1782.6
5.956
1782.6
5.956
1758.75
28084.8
1773.22
1739.72
26832.84
1761.98
1790.88
1822.68
1793.43
1785.8
1769.14
1818.83
28723.47
28106.86
28108.3
1899.42
1889.79
1895.55
28094.95
1867.78
1871.26
28375.3
1910.58
29994.31
1896.0
1896.0
30215.32
1866.01
1938.68
30773.75
2094.2
2076.61
2106.22
30316.21
2080.99
29533.99
2062.26
2058.86
29375.94
2061.52
1972.31
29086.96
28332.85
1907.23
27583.86
5.527
1956.95
29860.15
1806.28
5.275
1882.69
1878.58
1918.41
1887.21
1903.01
29854.46
1846.11
1879.39
29097.59
1973.2
1987.4
1988.29
1909.86
1877.51
1879.29
1875.74
1858.92
1846.48
27639.94
1875.58
1800.14
5.074
1801.92
26807.49
1765.39
1765.24
1808.89
1798.08
26964.4
1824.74
1807.52
1833.83
1775.86
1840.08
27326.68
1844.74
1861.69
1874.15
1879.29
1787.21
4.726
1838.1
1736.37
1742.8
1732.88
1743.26
1749.46
26006.4
1746.26
1651.52
26623.45
26500.63
1728.36
1718.1
1717.78
1731.13
1766.87
1766.87
5.304
1810.21
29972.91
1886.12
1887.0
30924.01
30594.43
1888.55
6.094
1859.39
1889.01
30184.57
1846.38

In [15]:
new['price'].describe()

count    31426.000000
mean      7509.703919
std      10653.657077
min          3.530000
25%       1429.335000
50%       1731.640000
75%      16472.672500
max      68469.360000
Name: price, dtype: float64

In [16]:
new.to_csv('Final_Trades_2.csv', index=False)